/* ---- particles.js container ---- */

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

/* --- Text scramble --- */
#header .content p {
	text-transform: uppercase;
	letter-spacing: 0.2rem;
	line-height: 1.7;
	font-weight:50;
	font-size: 0.95rem;
  color: #FAFAFA;
}

.dud {
  color :#757575;
}

/* --- Button Effect Hover --- */

.animate:hover {
	animation: spinAround 0.1s linear infinite;
	animation-direction: alternate;
}
@keyframes spinAround {
	from {
		transform: rotate(-3deg)
	}
	to {
		transform: rotate(3deg);
	}
}

/* --- Custom Text Contact --- */

.text-contact {
	font-weight: 100;
	line-height: 50px;
}

/* -- Hr --- */
	hr {
		height: 0;
		max-width: 100px;
		opacity: 0.1;
	}

	hr.transparant {
		opacity: 0
	}

/*-- Grow animate --*/
.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.27); }